section {
    margin: 25px;
    /*padding: 10px;*/
    background-color: #f2f2f2;
}

section > h1 {
    display: block;
    font-size: 20px;
    line-height: 50px;
    padding: 0 25px;
    vertical-align: baseline;
}

section > h1 > i {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 25px;
    background: black;
    overflow: hidden;
    vertical-align: middle;
}

section > ul {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

section li {
    flex-basis: 40%;
    flex-grow: 1;
    margin: 10px;
    padding: 25px;
    border: 3px solid #e6e6e6;
}

section li:hover {
    border-color: #008542;
    color: #008542;
    cursor: pointer;
}

section li.starting {
    background: #f25824;
    color: white;
    border: 3px solid #f25824;
}

section li > span.time {
    display: block;
}

section li > i {
    display: inline-block;
    background-color: black;
    height: 15px;
    width: 15px;
    text-indent: 20px;
    overflow: hidden;
    vertical-align: middle;
}

section li:hover > i {
    background-color: #008542;
}
