<section *ngIf="harnessRaces.length > 0">
    <h1>
        <i>icon</i>
        Harness Races
    </h1>
    <ul>
        <li *ngFor="let race of harnessRaces | slice:0:5" [ngClass]="{'starting': isAboutToBegin(race)}">
            <span class="number">R{{race.number}}</span>
            <span class="time">{{timeTillRace(race)}}</span>
            <i>icon</i> {{race.name | capitalise}} ({{race.location}})
        </li>
    </ul>
</section>
<section *ngIf="thoroughbredRaces.length > 0">
    <h1>
        <i>icon</i>
        Thoroughbred Races
    </h1>
    <ul>
        <li *ngFor="let race of thoroughbredRaces | slice:0:5" [ngClass]="{'starting': isAboutToBegin(race)}">
            <span class="number">R{{race.number}}</span>
            <span class="time">{{timeTillRace(race)}}</span>
            <i>icon</i> {{race.name | capitalise}} ({{race.location}})
        </li>
    </ul>
</section>
<section *ngIf="greyhoundRaces.length > 0">
    <h1>
        <i>icon</i>
        Greyhound Races
    </h1>
    <ul>
        <li *ngFor="let race of greyhoundRaces | slice:0:5" [ngClass]="{'starting': isAboutToBegin(race)}">
            <span class="number">R{{race.number}}</span>
            <span class="time">{{timeTillRace(race)}}</span>
            <i>icon</i> {{race.name | capitalise}} ({{race.location}})
        </li>
    </ul>
</section>
<section *ngIf="unclassifiedRaces.length > 0">
    <h1>
        <i>icon</i>
        Unclassified Races
    </h1>
    <ul>
        <li *ngFor="let race of unclassifiedRaces | slice:0:5" [ngClass]="{'starting': isAboutToBegin(race)}">
            <span class="number">R{{race.number}}</span>
            <span class="time">{{timeTillRace(race)}}</span>
            <i>icon</i> {{race.name | capitalise}} ({{race.location}})
        </li>
    </ul>
</section>
