:host {
    display: block;
    overflow: auto;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .15)
}

:host > h1 {
    display: block;
    font-size: 20px;
    line-height: 50px;
    padding: 0 20px;
    background: #f2f2f2;
}
