* {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 25px;
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

h1 {
    font-weight: 400;
}
